body {
    background-color: aliceblue;
	font-family: 'Quicksand', sans-serif;
    width: 100%;
}

.statbar{
	margin-left: 445px;
	height: 20px;
}

.screen{
    background-color: white;
    height: 580px;
    margin: 0 auto;
	margin-top: -5px;
/*    margin-left: 20px;*/
    width: 375px;
}

.bigheading{
    color: #FE9001;
    font-size: 38px;
    padding-left: 20px;
    padding-top: 3px;
}

.add{
    float: right;
    height: 23px;
    margin-right: 47px;
    margin-top: -58px;
}

.add:hover{
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.search{
    float: right;
    height: 23px;
    margin-right: 17px;
    margin-top: -58px;  
}

/* --------------ALL RESTAURANTS PAGE----------- */


.a{
    color: #72CEAD;
    font-size: 15px;
    margin-left: 25px;
    margin-top: 30px;
}

.line{
    height: 9px;
    margin-left: 18px;
}

p{
    color: #686262;
	font-size: 15px;
    line-height: 5px;
    margin-left: 25px;
}

.address{
    color: #9B9B9B;
    font-size: 13px;
    margin-left: 25px;
}

.b{
    color: #72CEAD;
    font-size: 15px;
    margin-left: 25px;
    margin-top: 30px;
}

/* ------NAV BAR------ */

.navbar{
    height: 70px;
    width: 375px;
    background-color: #EFEFF4;
    margin: 0 auto;
}

.menuon{
    height: 60px;
    margin-left: 40px;
    margin-top: 3px;
}

.menuoff{
    height: 60px;
    margin-left: 40px;
    margin-top: 3px;
}

.menuoff:hover{
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.shufflenav{
    height: 60px;
    margin-left: 45px;
    margin-top: 3px;
}

.shufflenav:hover{
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.shuffleon{
    height: 60px;
    margin-left: 40px;
    margin-top: 3px;
}

.searchnav{
    height: 60px;
    margin-left: 45px;
    margin-top: 3px;
}

.searchnav:hover{
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.searchon{
    height: 60px;
    margin-left: 40px;
    margin-top: 3px;
}

/* -----------END ALL RESTAURANTS PAGE--------- */


/* -----------ADD RESTAURANTS PAGE 1 --------- */

.addrestauranth{
    color: #4A4A4A;
    padding-left: 120px;
    padding-top: 40px;
}

.line1{
    height: 9px;
    margin-left: 20px;
}

.location{
    float: right;
    height: 32px;
    margin-right: 15px;
    margin-top: -60px;
}

.leftarrow{
    height: 25px;
    float: left;
    margin-left: 20px;
    margin-top: -58px;
}

.leftarrow:hover{
    filter: alpha(opacity=50);
    opacity: 0.5;
}

/* -----------END ADD RESTAURANTS PAGE 1 --------- */


/* ---------------------SEARCH ------------------- */

.recent{
    color: #72CEAD;
    font-size: 28px;
    margin-left: 25px;
    margin-top: 80px;
}

.rp{
    font-size: 20px;
    line-height: 30px;
}

/* -----------------END SEARCH ------------------ */


/* ---------------SHUFFLE PAGE 1 ---------------- */

.shufflehome{
    height: 292px;
    margin-top: 80px;
}

.searchcity{
    height: 80px;
    margin-left: 55px;
    margin-top: 50px;
}

.searchcity:hover{
    filter: alpha(opacity=50);
    opacity: 0.5;
}