body{
	font-family: 'Reem Kufi', sans-serif;
	width: 100%;
	height: 100%;
	margin: none;
	padding: none;
	
}

h1{
	color: skyblue;
	font-size: 35px;
	padding-top: 250px;
	text-align: center;
	position: absolute;
	width: 100vw; /*its like percentages except its with the size of the browser */
}

h2{
	color: skyblue;
	font-size: 35px;
	text-align: center;
	margin-top: 340px;
	position: absolute;
	width: 100vw;
}


.main{
	position: absolute;
	margin-left: -5px;
	margin-top: -30px;
	width: 100%;
}

.two{
	position: absolute;
	margin-left: 20px;
	width: 40%;
}

.three{
	position: absolute;
	margin-top: 340px;
	margin-left: 780px;
	width: 35%;
}

.four{
	position: absolute;
	margin-top: 200px;
	margin-left: 350px;
	width: 40%;
}

.five{
	position: absolute;
	margin-top: 65px;
	margin-left: 650px;
	width: 43%;
}

.six{
	position: absolute;
	margin-top: 365px;
	margin-left: 70px;
	width: 35%;
}