body {
	background-color: white;
	font-family: 'Fredoka One', cursive;
	width: 100%;
}

h1 {
	margin-left: 13em;
	font-size: 40px;
}

#clock-wrapper {
	position: relative;
}

.rotating-item {
	margin-left: 270px;
	margin-top: 60px;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
