body,
html {
	height: 100%;
	margin: 0;
	font-family: 'Hind', sans-serif;
	color: #777;
	text-align: center;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
	position: relative;
	opacity: 0.75;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg-1 {
	background-image: url("../img/finland_1.jpg");
	min-height: 100%;
}

.bgimg-2 {
	background-image: url("../img/finland_3.jpg");
	min-height: 400px;
}

.bgimg-3 {
	background-image: url("img_parallax3.jpg");
	min-height: 400px;
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}

.caption2 {
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption2 span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}

.travelguide_text{
	color: #3f3f3f;
	margin-top: 5%;
	margin-bottom: 3%;
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	font-weight: 700;
	text-align: center;
}

.special-text{
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

.firstp{
	font-size: 16px;
	margin-top: 2%;
	width: 100%;
	line-height: 30px;
}

/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
	.bgimg-1,
	.bgimg-2,
	.bgimg-3 {
		background-attachment: scroll;
	}
}

.button {
	border: none;
	color: white;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	-webkit-transition-duration: 0.4s;
	/* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	
	position: absolute;
    top: 60%;
	left: 44.55%;
}

.button5 {
	background-color: white;
	color: #2b262d;
	border: 2px solid #ac9bb5;
	
}

.button5:hover {
	background-color: #ac9bb5;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

footer{
	background-color: #282E34; 
	padding: 60px 60px;
}

.websites{
	display: inline;
	text-decoration: none;
	color: white;
	padding: 3%;
}

/*unvisited link*/
a:link {
    color: mediumpurple;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: skyblue;
	text-decoration: none;
}

/*----- RSS -----*/

h1 {
	color: #FC3D21;
}

h2{
	font: 20px "Hind", sans-serif;
	font-weight: 300;
}

h3{
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 15px "Hind", sans-serif;
	color: #111;
}

p{
	padding: 10px;
	font: 15px "Hind", sans-serif;
	line-height: 25px;
	color: black;
	text-align: justify;
	margin: 0 auto;
	width: 70%;
}


.finland-item{
	
		display: inline-block;
		width: 45%;
	
}

/*---------------- weather API ----------------- */

#temp{
	background-color: aliceblue; 
	margin-top: 5%;
	padding: 80px 80px;
}
